* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url("./assets/sunny-it.jpg");
  background-position: top;
  background-size: cover;
  transition: 0.4s ease-out;
}

.app.clear {
  background-image: url("./assets/clear.jpg");
}

.app.cloudy {
  background-image: url("./assets/cloudy-floripa.jpg");
}

.app.mist {
  background-image: url("./assets/mist-br.jpg");
}

.app.rainy {
  background-image: url("./assets/rainy.jpg");
}

main {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 0 0 75px;
  width: 100%;
}

.search-box .search-bar {
  appearance: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  color: #313131;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  outline: none;
  padding: 15px;
  transition: 0.4s ease;
  width: 50%;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  font-size: 102px;
  font-weight: 900;
  margin: 30px auto;
  padding: 15px 25px;
  position: relative;
  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.weather-box .temp-senstation {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 8px;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-transform: capitalize;
}

.copyright-box {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-height: calc(100vh - 600px);
  padding-bottom: 16px;
  width: 100%;
}

.copyright-box .copyright-text {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.copyright-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-height: calc(100vh - 200px);
  padding-bottom: 24px;
  width: 100%;
}

.copyright-container .copyright-text {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
